
@namespace Orderly.Client.Pages.Shared

@inject NavigationManager Navigation

<p>Redirecting to login...</p>

@code {
    protected override void OnInitialized()
    {
        Navigation.NavigateTo("login", true);
    }
}
